@charset "UTF-8";

/*
cordestaque: #5274d8;
corcomplementar2: #e1e9fc;
*/

body {
    background-color: #fdf9f9;
}

main {
    margin: auto;
    margin-top: 15px;
    max-width: 1920px;
    max-height: 1080px;
}

.text {
    font: lighter 15px Impact, Arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: #132644;
}

.center {
    display: block;
    margin: auto;
}

.borda {
    float: left;
    margin: auto;
}

.calculadora {
    float: left;
    border-radius: 25px;
    background-color: #c7d4f7;
    padding: 30px;
    width: 70vw;
    height: 530px;
}

.input {
    float: left;
    width: 45%;
}

.output {
    float: right;
    width: 45%;
    height: 700px;
}

.result {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    width:auto;
    background-color: #e1e9fc;
    border: 2px solid #5274d8;
    border-radius: 11px;
}

.titulo-result {
    margin-left: 10px;
    margin-bottom: 5px;
}

.text-result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: bold 50px Impact, Arial, Verdana, sans-serif;
    letter-spacing: 3px;
}

.form-control {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-color: #e1e9fc;
}

.input-group {
    border:2px solid #5274d8;
    border-radius: 11px;
    background-color: #e1e9fc;
}

.input-group-text {
    background-color: #5274d8;
    border:2px solid #5274d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e1e9fc;
}

.btn-primary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5274d8;
    border-color: #5274d8;
}

.btn-outline-primary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 2px;
    border-color: #5274d8;
    color: #5274d8;
}

.btn-outline-secondary {
    background-color: #5274d8;
    border:2px solid #5274d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e1e9fc;
}

#titulo {
    height: auto;
    max-width: 100%;
}

#montanhav {
    display: block;
    margin: auto;
    margin-left:25px;
    margin-right: 25px;
    border-radius: 15px;
    height: 95vh;
    width: auto;
    
}

#graficosep {
    height: 500px
}

#graficodiv {
    display: block;
    margin: auto;
    width: 60vw;
    height: 550px;
    background-color: #c7d4f7;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#grafico {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
    background-color: #ffffff;
    border:2px solid #5274d8;
}

@media only screen and (max-width: 500px) {
    .form-control {
        height: 31px;
        size: 15px;
    }

    .input-group-text {
        height: 31px;
        size: 15px;
        font-size: 1px;
    }
}

@media only screen and (max-width: 1080px) {
    #montanhav {
        width: 90vw;
        height: auto;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5vw;
    }

    .calculadora {
        float: none;
        display: block;
        margin: auto;
        width: 90vw;
        height: 870px;
    }

    .input {
        width: 100%;
    }

    .output {
        margin-top: 25px;
        width: 100%;
    }

    .text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .input-group {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 35px;
        size: 25px;
    }

    .form-control {
        height: 31px;
        size: 22px;
    }

    .input-group-text {
        height: 31px;
        size: 22px;
    }

    .btn-outline-secondary {
        height: 31px;
        size: 22px;
    }

    #graficosep {
        height: 840px;
    }

    #graficodiv {
        display: block;
        margin: auto;
        width: 80vw;
        height: 520px;
    }
}

@media only screen and (min-width: 2200px) {
    .calculadora {
        width: 60vw;
    }

    #graficodiv {
        width: 50vw;
    }
}
